{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{url_for("static", filename="images/filepro_logo.png")}}" width="40" alt="filepro_logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
          {% if logged%}
          <li class="nav-item">
              <a class="nav-link" href="/user/{{ username }}">Dashboard</a>
          </li>
      </ul>
              <button class="btn btn-outline-danger" onclick="window.location.href = '/logout'">Logout</button>
        {% else %}
        </ul>
        <button class="btn btn-outline-success" onclick="window.location.href = '/login'">Login</button>
        {% endif %}
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="w-100 d-flex justify-content-center">
    <div style="width: 30vw;" class="d-flex flex-column">
         <div class="pt-5 text-center" style="font-style: italic; font-family: 'Eras_Bold_ITC'; font-size: 70px; color: #ff253a";>FilePro</div>
        <div class="text-lg-center">
            <span class="pe-1" style="font-style: italic; font-family: Eras_Bold_ITC">FilePro</span>
            is a file hosting service that allows you to upload a file and get an URL back from which you can retrieve your file at any time.
            You can either upload a file as anonymous or with an account.
            If uploaded with an account, you are the only person who has access to the files.
        </div>
        <hr>
        <button class="fs-1 p-3 border-2 border-white bg-black text-center rounded text-white mt-3 mb-2" onclick="getFile()">
            <i class="fa-solid fa-user-secret pe-3 align-self-center"></i>Upload a File as Anonymous
        </button>
        <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" name="file" /></div>
        <button class="fs-1 p-3 border-2 border-white bg-black text-center rounded text-white mt-3 mb-2" onclick="{% if logged%}getFile2(){% else %}window.location='/login'{% endif %}">
            <i class="fa-solid fa-user pe-3 align-self-center"></i>Upload a File as {{ username }}
        </button>
        <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile2" type="file" value="upload" name="file" /></div>
        <div id="progress-container"></div>
    </div>
</div>
<script>
    const progressContainer = document.getElementById("progress-container");
    const upFileEl = document.getElementById("upfile");
    const upFileEl2 = document.getElementById("upfile2");

    const uploader = new Uploader("/anonupload", progressContainer, upFileEl);
    function getFile() {
        upFileEl.click();
    }

    const uploader2 = new Uploader("/userupload", progressContainer, upFileEl2);
    function getFile2() {
        upFileEl2.click();
    }
    upFileEl.onchange = () => uploader.upload();
    upFileEl2.onchange = () => uploader2.upload();
</script>
{% endblock %}
