{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/progress.js') }}"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{url_for("static", filename="images/filepro_logo.png")}}" width="40" alt="filepro_logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
        <button class="btn btn-outline-success" onclick="window.location.href = '/login'">Login</button>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="w-100 d-flex justify-content-center">
    <div style="width: 30vw;" class="d-flex flex-column">
         <div class="pt-5 text-center" style="font-style: italic; font-family: 'Eras_Bold_ITC'; font-size: 70px; color: #ff253a";>FilePro</div>
        <div class="text-lg-center">
            <span class="pe-1" style="font-style: italic; font-family: Eras_Bold_ITC">FilePro</span>
            is a file hosting service that allows you to upload a file and get a URL back from which you can retrieve your file at any time.
            You can either upload a file as anonymous or with an account.
            If uploaded with an account, you are the only person who has access to the files.
        </div>
        <hr>
        <button class="fs-1 p-3 border-2 border-white bg-black text-center rounded text-white mt-3 mb-2" onclick="getFile()">
            <i class="fa-solid fa-user-secret pe-3 align-self-center"></i>Upload a File as Anonymous
        </button>
        <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" name="file" onchange="handleUpload()" /></div>
        <div>
            <div id="p-bar-container" class="pb-1" style="height: 30px"></div>
            <code id="upload-error-text" class="text-white" style="display: none"></code>
            <span id="file-name"></span>
            <div id="url-field-container"></div>
        </div>
    </div>
</div>
<script >
    const upFileEl = document.getElementById("upfile");
    const pBarContainer = document.getElementById("p-bar-container");
    const errorText = document.getElementById("upload-error-text");
    const fileNameEl = document.getElementById("file-name");
    const urlFieldContainer = document.getElementById("url-field-container");

    const progressBar = new PBar(pBarContainer);
    progressBar.toggleVisible()

    const urlField = new UrlField(urlFieldContainer);
    urlField.toggleVisible();

    function setupUpload() {
        // Reset Progress Bar
        progressBar.setRelProgress(0);
        progressBar.setColor("#0d6efd");
        if (!progressBar.isVisible) {
            progressBar.toggleVisible();
        }

        // Reset Url Field
        urlField.setUrl("");
        if (urlField.isVisible) {
            urlField.toggleVisible();
        }

        errorText.style.display = "none";
        fileNameEl.innerHTML = "";

        let files = upFileEl.files;
        let form = new FormData();
        form.append('file', files[0]);

        return form
    }

    async function handleUpload() {
        let formData = await setupUpload();

        let req = await axios.request({
            url: "/anonupload",
            method: "POST",
            data: formData,
            onUploadProgress: (p) => {
                progressBar.setRelProgress(
                    (Math.round((p.loaded * 100) / p.total))
                );
            }
        });

        let data = await req.data;

        if (!data.error) {
            progressBar.setRelProgress(100);
            progressBar.toggleVisible();
            urlField.setUrl(data.full_url);
            if (!urlField.isVisible) {
                urlField.toggleVisible();
            }
            fileNameEl.innerHTML = data.filename;
        } else {
            progressBar.setRelProgress(100);
            progressBar.setColor("#dc3545");
            errorText.innerHTML = "Error: "  + data.error;
            errorText.style.display = "block";
        }
    }

    function getFile() {
        upFileEl.click();
    }

    upFileEl.onchange = handleUpload;
</script>
{% endblock %}
