{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{{url_for("static", filename="images/filepro_logo.png")}}" width="40" alt="filepro_logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
      </ul>
        <button class="btn btn-outline-success" onclick="window.location.href = '/login'">Login</button>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}

<style>
    #yourBtn {
        font-family: calibri;
        width: 30vw;
        padding: 1vh;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border: 1px solid #ffffff;
        text-align: center;
        background-color: #000000;
        color: #ffffff ;
        cursor: pointer;
    }
</style>

    <div class="d-flex justify-content-center pt-5" style="font-style: italic; font-family: 'Eras_Bold_ITC'; font-size: 70px; color: #ff253a";>FilePro</div>
    <div class="d-flex justify-content-center align-self-center">
        <p class="w-25 text-lg-center"><span class="pe-1" style="font-style: italic; font-family: Eras_Bold_ITC">FilePro</span>is a file hosting service where you can upload a file and get a URL back at which you can retrieve your file any time. You can either upload a file as anonymous or with your account. You are the only person who has access to a file if you have uploaded with an account.</p>
    </div>

    <div class="d-flex flex-column justify-content-center align-self-center">
        <div class="d-flex justify-content-center pb-2" style="">
            <div id="yourBtn" class="fs-1" onclick="getFile()"><i class="fa-solid fa-user-secret pe-3 align-self-center"></i>-  Click to Upload a File as Anonymous</div>
            <div style='height: 0px;width: 0px; overflow:hidden;'><input id="upfile" type="file" value="upload" name="file" onchange="handleUpload()" /></div>
        </div>

        <div class="d-flex flex-column justify-content-center">
            <div class="align-self-center" style="width: 30vw">
                <div class="progress" role="progressbar" id="p-bar-container" style="display: none; height: 30px">
                    <div class="progress-bar align-self-center" style="width: 0%; height: 30px;" id="p-bar">0%</div>
                </div>
                <span id="upload_success_text" class="text-success text-lg-center fs-4" style="display: none">Success! Your file was successfully uploaded and ist now available at:<br></span>
                <span id="upload_error_text" class="text-danger text-lg-center fs-4" style="display: none"></span>
                <div class="input-group mt-2" id="url-field-container" style="display: none">
                    <button id="copy-btn" class="rounded-start btn btn-black bg-black text-white border-1 border-white"><i class="fa-solid fa-copy"></i></button>
                    <input id="url-field" type="text" class="form-control rounded-end bg-dark text-white" readonly>
                </div>
            </div>
        </div>
    </div>

    <script defer>
        const upFileEl = document.getElementById("upfile");
        const urlFieldContainer = document.getElementById("url-field-container");
        const urlField = document.getElementById("url-field");
        const pBarContainer = document.getElementById("p-bar-container");
        const pBar = document.getElementById("p-bar");
        const errorText = document.getElementById("upload_success_text");
        const successText = document.getElementById("upload_error_text");
        const copyBtn = document.getElementById("copy-btn")

        function copyLink() {
            urlField.select();
            urlField.setSelectionRange(0, 99999); // For mobile devices
            navigator.clipboard.writeText(urlField.value);
            let tooltip = new bootstrap.Tooltip(copyBtn, {
                placement: "bottom",
                title: "Copied!"
            });
            tooltip.toggleEnabled = false;
            tooltip.show();
            setTimeout(() => {
                tooltip.hide();
            }, 100)

        }
        function getFile() {
            upFileEl.click();
        }

        function setPbar(percentage) {
            pBar.style.width = `${percentage}%`;
            pBar.innerHTML = `${percentage}%`;
        }

        function handleUpload() {
            const files = upFileEl.files;
            const form = new FormData();
            form.append('file', files[0]);

            urlField.value = "";
            pBarContainer.style.display = "block";
            setPbar(0);

            axios.request({
                url: "/anonupload",
                method: "POST",
                data: form,
                onUploadProgress: (p) => {
                    setPbar(Math.round((p.loaded * 100) / p.total));
                }
            })
                .then(data => {
                    console.log(data.data);
                    if (!data.data.error) {
                        setPbar(100);
                        successText.style.display = "block"
                        pBarContainer.style.container = "none";
                        urlFieldContainer.style.display = "flex";
                        urlField.value = data.data.full_url;
                    } else {
                        setPbar(0);
                        errorText.innerHTML = "Error: "  + data.data.error;
                        errorText.style.display = "block";
                    }
                } )
                .catch(error => {
                    console.log(error)
                })
        }

        upFileEl.onchange = handleUpload;
        copyBtn.onclick = copyLink;



    </script>
{% endblock %}
