<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <style>
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
    <script src="{{url_for("static", filename="js/bootstrap.bundle.min.js")}}"></script>
    <script src="{{url_for("static", filename="js/utils.js")}}" defer></script>
    <link href="{{url_for("static", filename="fontawesome/css/fontawesome.css")}}" rel="stylesheet" />
    <link href="{{url_for("static", filename="fontawesome/css/solid.css")}}" rel="stylesheet" />
    <link href="{{url_for("static", filename="fontawesome/css/brands.css")}}" rel="stylesheet" />
    <style>
        @font-face {
        font-family: "Eras_Bold_ITC";
        src: URL('{{url_for("static", filename="fonts/Eras-Bold-ITC.ttf")}}') format('truetype');
        }
    </style>
    <title>{% block title %}{% endblock %} - FilePro</title>
    {% block head %}
    {% endblock %}
</head>
<body class="h-100 text-white">
    {% block navbar %}{% endblock %}
    <div id="content" style="height: calc(100vh - 66px); background-color: #2b3035">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>